<!DOCTYPE html>
<html lang="en">

<head>
    <title>SiwMovie-Vendetta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initials-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/updateDirector.css">
</head>

<body>
    <nav>
        <h2 class="logo">SiwMovie<span class="vendetta"> Vendetta</span></h2>
        <ul>
            <li><a href="/" class="sub">Home</a></li>
            <li><a href="/movies" class="sub">Movies</a></li>
            <li><a href="/artists" class="sub">Artists</a></li>
        </ul>
        <div th:if="${userDetails}">
            <b th:text="${userDetails.username}" class="username"></b>
            <button type="button"><a href="/logout" class="log">Logout</a></button>
        </div>
        <div th:unless="${userDetails}">
            <button type="button"><a href="/login" class="log">Login</a></button>
        </div>
    </nav>
    <div class="content">
        <h1>Possible Actors:</h1>
        <div th:unless="${choices.isEmpty()}" class="artists">
            <ul th:each="artist: ${choices}">
                <div class="card">
                    <a th:href="@{'/admin/manage/setActor/' + ${movie.id} + '/' + ${artist.id}}">
                        <img th:src="@{'data:image/*;base64,'+${artist.profilePicture.base64Image}}">
                        <div class="artist-info">
                            <h4 th:text="${artist.name + ' ' + artist.surname}">.</h4>
                        </div>
                    </a>
                </div>
            </ul>
        </div>
    </div>
</body>
</html>