<!DOCTYPE html>
<html lang="en">

<head>
    <title>SiwMovie-Vendetta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initials-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/updateMovie.css">
</head>

<body>
    <nav>
        <h2 class="logo">SiwMovie<span class="vendetta"> Vendetta</span></h2>
        <ul>
            <li><a href="/" class="sub">Home</a></li>
            <li><a href="/movies" class="sub">Movies</a></li>
            <li><a href="/artists" class="sub">Artists</a></li>
        </ul>
        <div th:if="${userDetails}">
            <b th:text="${userDetails.username}" class="username"></b>
            <button type="button"><a href="/logout" class="log">Logout</a></button>
        </div>
        <div th:unless="${userDetails}">
            <button type="button"><a href="/login" class="log">Login</a></button>
        </div>
    </nav>
    <div th:if="${movie}" class="content">
        <div class="movie-content">
            <h1 th:text="${movie.title + ',' + movie.year}">Movie Title</h1>
            <div class="movie-cast">
                <div class="label">
                    <div class="main-label">
                        <h3>Director:</h3>
                        <button type="button">
                            <a th:href="'/admin/manage/updateDirector/'+${movie.id}" class="log">Update</a>
                        </button>
                    </div>
                    <div th:if="${director}" class="director-content">
                        <div class="card">
                            <a th:href="@{'/artists' + '/' + ${director.id}}">
                                <img th:src="@{'data:image/*;base64,'+${director.profilePicture.base64Image}}">
                                <div class="card-overlay">
                                    <button class="overlay-button">
                                        <a th:href="@{'/admin/manage/removeDirector/' + ${movie.id} + '/' + ${director.id}}" class="log">
                                            remove
                                        </a>
                                    </button>
                                  </div>
                                <div class="artist-info">
                                    <h4 th:text="${director.name + ' ' + director.surname}">.</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div th:unless="${director}" class="director-content">
                        <h4>Nessun direttore</h4>
                    </div>
                </div>
                <div class="label">
                    <div class="main-label">
                        <h3>Actors:</h3>
                        <button type="button">
                            <a th:href="'/admin/manage/addActor/'+${movie.id}" class="log">Update</a>
                        </button>
                    </div>
                    <div th:if="${actors.isEmpty()}" class="actors-content">
                        <h4>Nessun attore</h4>
                    </div>
                    <div th:unless="${actors.isEmpty()}" class="actors-content">
                        <div class="artists">
                            <ul th:each="artist: ${actors}">
                                <div class="card">
                                    <a th:href="@{'/artists' + '/' + ${artist.id}}">
                                        <img th:src="@{'data:image/*;base64,'+${artist.profilePicture.base64Image}}">
                                        <div class="card-overlay">
                                            <button class="overlay-button">
                                                <a th:href="@{'/admin/manage/removeActor/' + ${movie.id} + '/' + ${artist.id}}" class="log">
                                                    remove
                                                </a>
                                            </button>
                                          </div>
                                        <div class="artist-info">
                                            <h4 th:text="${artist.name + ' ' + artist.surname}">.</h4>
                                        </div>
                                    </a>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>