<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/admin/uploadArtist}" method="post" enctype="multipart/form-data" th:object="${artist}">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
        </div>
        <div>
            <label>Nome:</label>
            <span><input type="text" th:field="${artist.name}"></span>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div>
            <label>Cognome:</label>
            <span><input required type="text" th:field="${artist.surname}"></span>
            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
        </div>

        <div>
            <label>Data di nascita:</label>
            <span><input required type="date" th:field="${artist.birthDate}"></span>
            <span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></span>
        </div>

        <div>
            <label>Data di morte:</label>
            <span><input type="date" th:field="${artist.deathDate}"></span>
            <span th:if="${#fields.hasErrors('deathDate')}" th:errors="*{deathDate}"></span>
        </div>

        <div>
            <label>Immagini:</label>
            <span><input required type="file" name="file"></span>
        </div>

        <div>
            <span><button type="submit">Conferma</button></span>
        </div>
    </form>
</body>
</html>