<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <div th:if="${userDetails}">
            <span th:text="${userDetails.username}"></span>
            <a href="/logout">Logout</a>
        </div>
        <div th:unless="${userDetails}">
            <a href="/login">Login</a>
        </div>
    </header>
    <h1>HOME PAGE ADMIN</h1>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/admin/indexMovie">Operazioni Film</a></li>
        <li><a href="/admin/indexArtist">Operazioni Artisti</a></li>
        <li><a href="/user/formNewReview">Operazioni Recensioni</a></li>
    </ul>
</body>
</html>