.content {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.second-nav {
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 250px;
}

.input {
    width: 100%;
    height: 50px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.artists {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.card {
    width: 225px;
    height: 320px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    border: 2px solid #c3c6ce;
    transition: 0.2s ease-out;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.13);
    cursor: pointer;
}

.card a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artist-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.artist-info h4 {
    font-weight: bold;
    margin: 0;
}