.content {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

.card {
    width: 400px;
    height: 500px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artist-content {
    color: white;
    margin-left: 10%;
    font-size: 20px;
}

.artist-movie-content {
    width: 100%;
    color: white;
    margin-left: 10%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.directed-content {
    background: rgba(128, 128, 128, 0.451);
    padding: 2%;
    border-radius: 30px;
}

.acted-content {
    background: rgba(128, 128, 128, 0.451);
    padding: 2%;
    border-radius: 30px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.cards {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: hidden;
}

.cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.movie-info h4 {
    font-weight: bold;
    margin: 0;
}