* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/images/welcomePhoto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.hero {
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    color: white;
    font-size: 28px;
}

.vendetta {
    color:gray;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li .sub {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li .sub:hover {
    color: gray;
    transition: .3s;
}

button {
    border: none;
    background: gray;
    padding: 12px 30px;
    border-radius:  30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

button:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.username {
    font-style: sans-serif;
    color:white;
    padding-right: 10px;
}