* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    color: white;
    font-size: 28px;
}

.vendetta {
    color: gray;
}

section {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

form {
    background-color: rgb(255, 255, 255);
    padding: 3.125em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
}

.form-box {
    position: absolute;
    left: 0; 
    right: 0;
    top: 20%;
    margin-left: auto; 
    margin-right: auto; 
    width: 400px; /* Need a specific value to work */
}

.login {
    color: rgb(77, 75, 75);
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    /*font-size: x-large;*/
    font-size: 35px;
    margin-bottom: 0.5em;
}

.form--input {
    width: 100%;
    margin-bottom: 1.25em;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0.8em;
    font-family: 'Inter', sans-serif;
    outline: none;
}

.form--input:focus {
    border: 1px solid black;
    outline: none;
}

.form--submit {
    margin-top: 15px;
    border: none;
    background: gray;
    padding: 12px 30px;
    border-radius:  30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

.form--submit:hover {
    transform: scale(1.3);
    cursor: pointer;
}

#register {
    text-decoration: none;
}

#register:visited {
    color:inherit;
}

.image img {
    width: 100%;
    border-style:ridge;
    border-radius: 30px;
    padding: 8%;
}