.content {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.movie-content {
    color: white;
    font-size: 30px;
}

.movie-cast {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.label {
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.535);
    border-radius: 30px;
    padding: 2%;
    margin-top: 4%;
    border-style: solid;
}


.main-label {
    display: flex;
}

.main-label button {
    margin-left: 3%;
    /*background-color: darkgoldenrod;*/
    background-color: darkgrey;
}

.director-content {
    padding-top: 4%;
}

.actors-content {
    padding-top: 4%;
}

.artists {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7em;
}

.card {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: hidden;
}

.card a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artist-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.log {
    text-decoration: none;
}

.log:visited {
    color: inherit;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card:hover .card-overlay {
    visibility: visible;
    opacity: 1;
    z-index: 1; /* Ensure the overlay is on top */
  }
  
  .overlay-button {
    position: absolute;
    background-color: #ed0606;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    z-index: 2; /* Ensure the button is on top of the overlay */
  }