<!DOCTYPE html>
<html lang="en">
<head>
    <title>SiwMovie-Vendetta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initials-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/artist.css">
    <link rel="icon" href="/images/favicon.ico">
</head>
<body>
    <nav>
        <h2 class="logo">SiwMovie<span class="vendetta"> Vendetta</span></h2>
        <ul>
            <li><a href="/" class="sub">Home</a></li>
            <li><a href="/movies" class="sub">Movies</a></li>
            <li><a href="/artists" class="sub">Artists</a></li>
        </ul>
        <div th:if="${userDetails}">
            <b th:text="${userDetails.username}" class="username"></b>
            <button type="button"><a href="/logout" class="log">Logout</a></button>
        </div>
        <div th:unless="${userDetails}">
            <button type="button"><a href="/login" class="log">Login</a></button>
        </div>
    </nav>
    <div th:if="${artist}" class="content">
        <div>
            <div class="card">
                <img th:src="@{'/display/image/' + ${artist.profilePicture.id}}">
                <!--<img th:src="@{'data:image/*;base64,'+${artist.profilePicture.base64Image}}">-->
            </div>
            <div class="artist-content">
                <h1 th:text="${artist.name + ' ' + artist.surname}">Artist name and surname</h1>
                <p th:text="${'Birth date: ' + artist.birthDate}">Artist birthdate</p>
                <span th:if="${artist.deathDate}">
                    <p th:text="${'Death date: ' + artist.death}">Artist Deathdate</p>
                </span>
            </div>
        </div>
        <div class="artist-movie-content">
            <div class="directed-content">
                <h1>Directed Movies</h1>
                <div class="movies">
                    <ul th:each="movie : ${directed}">
                        <div class="cards">
                            <a th:href="@{'/movies' + '/' + ${movie.id}}">
                                <!--<img th:src="@{'data:image/*;base64,'+${movie.image.base64Image}}">-->
                                <img th:src="@{'/display/image/' + ${movie.image.id}}">
                                <div class="movie-info">
                                    <h4 th:text="${movie.title + ',' + movie.year}">.</h4>
                                </div>
                            </a>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="acted-content">
                <h1>Acted Movies</h1>
                <div class="movies">
                    <ul th:each="movie : ${acted}">
                        <div class="cards">
                            <a th:href="@{'/movies' + '/' + ${movie.id}}">
                                <!--<img th:src="@{'data:image/*;base64,'+${movie.image.base64Image}}">-->
                                <img th:src="@{'/display/image/' + ${movie.image.id}}">
                                <div class="movie-info">
                                    <h4 th:text="${movie.title + ',' + movie.year}">.</h4>
                                </div>
                            </a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div th:unless="${artist}">
        Non Esiste
    </div>
</body>
</html>