<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initials-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="icon" href="/images/favicon.ico">
</head>
<body>
    <!--
        <h1>Registrazione nuovo utente</h1>
    <form th:action="@{/register}" method="post">
        <div>
            <label>Username</label>
            <span>
                <input type="text" placeholder="username" required th:field="${credentials.username}" />
            </span>
            <span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}"
                  th:style="'color:red'">
            </span>
        </div>
        <div>
            <label>Password</label>
            <span>
                <input type="password" placeholder="password" required th:field="${credentials.password}" />
            </span>
            <span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}"
                  th:style="'color:red'">
            </span>
        </div>
        <div>
            <label>Nome</label>
            <span><input type="text" placeholder="name" required th:field="${user.name}" /></span>
            <span th:if="${#fields.hasErrors('user.name')}" th:errors="${user.name}" th:style="'color:red'">
            </span>
        </div>
        <div>
            <label>Cognome</label>
            <span><input type="text" placeholder="surname" required th:field="${user.surname}" /></span>
            <span th:if="${#fields.hasErrors('user.surname')}" th:errors="${user.surname}" th:style="'color:red'">
            </span>
        </div>
        <div>
            <label>Email</label>
            <span><input type="text" placeholder="email" required th:field="${user.email}" /></span>
            <span th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}" th:style="'color:red'">
            </span>
        </div>
        <div>
            <button type="submit">Registra</button>
        </div>
    </form>
    -->
    <nav>
        <h2 class="logo">SiwMovie<span class="vendetta"> Vendetta</span></h2>
    </nav>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form th:action="@{/register}" method="post" class="form">
                    <span class="register">Register</span>
                    
                    <!-- username input -->
                    <input type="text" placeholder="Username" required th:field="${credentials.username}" class="form--input">
                    <span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}"th:style="'color:red'"></span>
                    <!-- password input -->
                    <input type="password" name="password" placeholder="Password" required th:field="${credentials.password}" class="form--input">
                    <span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}"th:style="'color:red'"></span>

                    <!-- name input -->
                    <input type="text" placeholder="name" required th:field="${user.name}" class="form--input">
                    <span th:if="${#fields.hasErrors('user.name')}" th:errors="${user.name}"th:style="'color:red'"></span>
                    <!-- surname input -->
                    <input type="text" placeholder="surname" required th:field="${user.surname}" class="form--input">
                    <span th:if="${#fields.hasErrors('user.surname')}" th:errors="${user.surname}"th:style="'color:red'"></span>
                    <!-- email input -->
                    <input type="text" placeholder="email" required th:field="${user.email}" class="form--input">
                    <span th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}" th:style="'color:red'"></span>

                    <span th:if="${param.error != null}">Username o password errati</span>
                    <button type="submit" class="form--submit">
                        Register
                    </button>
                </form>
            </div>
        </div>
    </section>
    
</body>
</html>