<!DOCTYPE html>
<html lang="en">
<head>
    <title>SiwMovie-Vendetta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initials-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/movie.css">
</head>
<body>
    <nav>
        <h2 class="logo">SiwMovie<span class="vendetta"> Vendetta</span></h2>
        <ul>
            <li><a href="/" class="sub">Home</a></li>
            <li><a href="/movies" class="sub">Movies</a></li>
            <li><a href="/artists" class="sub">Artists</a></li>
        </ul>
        <div th:if="${userDetails}">
            <b th:text="${userDetails.username}" class="username"></b>
            <button type="button"><a href="/logout" class="log">Logout</a></button>
        </div>
        <div th:unless="${userDetails}">
            <button type="button"><a href="/login" class="log">Login</a></button>
        </div>
    </nav>
    <div th:if="${movie}" class="content">
        <div class="card">
            <img th:src="@{'data:image/*;base64,'+${movie.image.base64Image}}">
        </div>
        <div class="movie-content">
            <h1 th:text="${movie.title}">Movie Title</h1>
            <p th:text="${movie.year}">Movie Year</p>
            <button th:if="${role != null && role == 'ADMIN'}" class="update-movie">
                <a th:href="'/admin/manage/' + ${movie.id}" class="log">Update Movie</a>
            </button>
            <div class="movie-cast-content">
                <h1>Cast:</h1>
                <h3 th:if="${movie.director}">(Director: <span th:text="${movie.director.name + ' ' + movie.director.surname}"></span>)</h3>
                <div class="artists" th:unless="${cast.isEmpty()}">
                    <ul th:each="artist : ${cast}">
                        <div class="cards">
                            <a th:href="@{'/artists' + '/' + ${artist.id}}">
                                <img th:src="@{'data:image/*;base64,'+${artist.profilePicture.base64Image}}">
                                <div class="artist-info">
                                    <h4 th:text="${artist.name + ' ' + artist.surname}">.</h4>
                                </div>
                            </a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${movie}" class="movie-review-content">
        <h1>Reviews</h1>
    </div>
</body>
</html>