<!DOCTYPE html>
<html lang="en">

<head>
    <title>SiwMovie-Vendetta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initials-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/movie.css">
    <link rel="icon" href="/images/favicon.ico">
</head>

<body>
    <nav>
        <h2 class="logo">SiwMovie<span class="vendetta"> Vendetta</span></h2>
        <ul>
            <li><a href="/" class="sub">Home</a></li>
            <li><a href="/movies" class="sub">Movies</a></li>
            <li><a href="/artists" class="sub">Artists</a></li>
        </ul>
        <div th:if="${userDetails}">
            <b th:text="${userDetails.username}" class="username"></b>
            <button type="button"><a href="/logout" class="log">Logout</a></button>
        </div>
        <div th:unless="${userDetails}">
            <button type="button"><a href="/login" class="log">Login</a></button>
        </div>
    </nav>
    <div th:if="${movie}" class="content">
        <div class="card">
            <img th:src="@{'/display/image/' + ${movie.image.id}}">
            <!--<img th:src="@{'data:image/*;base64,'+${movie.image.base64Image}}">-->
        </div>
        <div class="movie-content">
            <h1 th:text="${movie.title}">Movie Title</h1>
            <p th:text="${movie.year}">Movie Year</p>
            <button th:if="${role != null && role == 'ADMIN'}" class="update-movie">
                <a th:href="'/admin/manage/' + ${movie.id}" class="log">Update Movie</a>
            </button>
            <div class="movie-cast-content">
                <h1>Cast:</h1>
                <div th:if="${movieCast.isEmpty()}">
                    None
                </div>
                <div th:unless="${movieCast.isEmpty()}">
                    <div th:if="${director}">
                        <h4>Director:<span th:text="${director.name + ' ' + director.surname}">.</span></h4>
                    </div>
                    <div class="artists">
                        <ul th:each="artist : ${movieCast}">
                            <div class="cards">
                                <a th:href="@{'/artists' + '/' + ${artist.id}}">
                                    <!--<img th:src="@{'data:image/*;base64,'+${artist.profilePicture.base64Image}}">-->
                                    <img th:src="@{'/display/image/' + ${artist.profilePicture.id}}">
                                    <div class="artist-info">
                                        <h4 th:text="${artist.name + ' ' + artist.surname}">.</h4>
                                    </div>
                                </a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="movie-review-content">
        <div class="personal-review" th:unless="${hasComment}">
            <form th:action="@{'/user/uploadReview/' + ${movie.id}}" method="post" th:object="${review}" class="form">
                <input required type="text" placeholder="Title" name="title" th:field="${review.title}" class="form--input1">
                <input required type="text" placeholder="Text" name="text" th:field="${review.text}" class="form--input2">
                <div class="review-options">
                    <input required type="number" min="1" max="5" name="rating" th:field="${review.rating}" id="animated-input">
                    <button class="comment-button" type="submit">Commenta</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <div th:if="${reviews}">
            <div th:unless="${reviews.isEmpty()}" class="other-review">
                <h1 style="padding-top: 2%; font-size: 40px;">Recensioni</h1>
                <ul th:each="rev : ${reviews}">
                    <div class="review">
                        <div class="header">
                            <h1 th:text="${rev.title}">.</h1>
                            <h1 th:text="${rev.author}">.</h1>
                        </div>
                        <p th:text="${rev.text}">.</p>
                        <div class="bottom-label">
                            <p th:text="'Rating: ' + ${rev.rating}">.</p>
                            <button th:if="${role != null && role == 'ADMIN'}" class="delete-review">
                                <a th:href="'/user/deleteReview/' + ${movie.id} + '/' + ${rev.id}" class="log">
                                    Delete
                                </a>
                            </button>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <script>
        const input = document.getElementById('animated-input');

        input.addEventListener('input', function () {
            if (input.checkValidity()) {
                input.classList.remove('animated');
            } else {
                input.classList.add('animated');
            }
        });
    </script>
</body>

</html>