<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SiwMovie-Vendetta</title>
    <meta name="viewport" content="width=device-width,initials-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/movies.css">
    <link rel="icon" href="/images/favicon.ico">
</head>
<body>
    <nav>
        <h2 class="logo">SiwMovie<span class="vendetta"> Vendetta</span></h2>
        <ul>
            <li><a href="/" class="sub">Home</a></li>
            <li><a href="/movies" class="sub">Movies</a></li>
            <li><a href="/artists" class="sub">Artists</a></li>
        </ul>
        <div th:if="${userDetails}">
            <b th:text="${userDetails.username}" class="username"></b>
            <button type="button"><a href="/logout" class="log">Logout</a></button>
        </div>
        <div th:unless="${userDetails}">
            <button type="button"><a href="/login" class="log">Login</a></button>
        </div>
    </nav>
    
    <div class="content">
        <div class="second-nav">
            <h1>Raccolta Film</h1>
            <form class="group" th:action="@{/searchMovie}" method="post" id="search-bar">
                <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
                <input placeholder="Search" type="text" th:value="${title}" id="title" name="title" class="input">
            </form>
        </div>
        <div th:if="${movies.isEmpty()}">
            Non ci sono film nel sistema
        </div>
        <div th:unless="${movies.isEmpty()}">
            <div class="movies">
                <ul th:each="movie: ${movies}">
                    <div class="card">
                        <a th:href="@{'/movies' + '/' + ${movie.id}}">
                            <img th:src="@{'/display/image/' + ${movie.image.id}}">
                            <!--<img th:src="@{'data:image/*;base64,'+${movie.image.base64Image}}">-->
                            <div class="movie-info">
                                <h4 th:text="${movie.title + ',' + movie.year}">.</h4>
                            </div>
                        </a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var form = document.getElementById('search-bar');
      
        form.addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                form.submit();
            }
            });
        });
    </script>
</body>
</html>