<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <div th:if="${userDetails}">
            <span th:text="${userDetails.username}"></span>
            <a href="/logout">Logout</a>
        </div>
        <div th:unless="${userDetails}">
            <a href="/login">Login</a>
        </div>
    </header>

    <h1>Congratulazioni ti sei registrato!</h1>
    <div>
        <span>Nome: </span>
        <span th:text="${user.name}"></span>
    </div>
    <div>
        <span>Cognome: </span>
        <span th:text="${user.surname}"></span>
    </div>
    <div>
        <span>Email: </span>
        <span th:text="${user.email}"></span>
    </div>
</body>
</html>